* {
    font-family: monospace;
    padding: 0;
    margin: 0;
}
body {
    background-image: url('./images/matrix.gif');
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    color: lime;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: red;
    position: relative;
    margin-left: 85px;
}

article {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: black;
    position: fixed;
    left:0;
    bottom: 60%;
    height: auto;
    color: green;
}

nav a:hover {
    color: green;
}

h2 {
    text-align: center;
    color: green;
}
footer {
}