* {
    font-family: monospace;
    padding: 0;
    margin: 0;
   
}

html {
    background-image: url('./images/matrix.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
   size: 16px;
}

header {
    text-align: center;
    color: lime;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-blend-mode: normal;
    position: relative;
    margin-left: 85px;
    place-items: center;
}

article {
    margin-bottom: 20px;
    padding: 16px;
    width: 700px;
}

/*TODO change the h1, h2 titles to unknown until hovered over*/
h1 {
    font-size: 60px;
    color: green;
    border-width: 10px;
    border-style: dashed;
    size: em;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: green;
    border-width: 2px;
    border-style: dashed;
    size: em;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: green;
    border-width: 2px;
    border-style: dashed;
    size: em;
}

h4 {
    text-align: center;
    font-size: 30px;
    color: green;
    size: em;
}

nav {
    background-blend-mode: normal;
    position: fixed;
    left:0;
    bottom: 60%;
    height: auto;
    color: green;
}

article p {
    display: none;
    border-style: dotted;
    margin: 1em 0;
}

.repl {
    font-size: 60px;
    color: green;
    border-width: 10px;
    border-style: dashed;
    size: em;
}

footer {
    bottom: 0px;
}
/*--ANIMATIONS--*/
.repl {
    display: none;
}

header:hover .init{
    display: none;
}

header:hover .repl{
    display: block;
}

article:hover h2{
    display: none;
}

article:hover .repl1{
    display: block;
    text-align: center;
    font-size: 30px;
    color: green;
    border-width: 2px;
    border-style: dashed;
    size: em;
}

article + article:hover h3{
    display: none;
}

article + article:hover .repl2{
    display: block;
    text-align: center;
    font-size: 30px;
    color: green;
    border-width: 2px;
    border-style: dashed;
    size: em;
}

footer:hover h4{
    display: none;
}

footer:hover .repl{
    display: block;
    text-align: center;
    font-size: 30px;
    border-style: none;
}

article:hover p {
    display: inline-block;
    color: white;
}

